<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.changxiao.themeskin">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".common.MainApplication"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:configChanges="orientation|keyboardHidden"
      android:name=".activity.SplashActivity"
      android:screenOrientation="portrait"
      android:theme="@style/Fullscreen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".activity.MainActivity">
    </activity>
    <activity android:name=".activity.MainTestActivity">
    </activity>
  </application>

</manifest>